{% extends 'base.html' %}

{% block content %}
<table>
    <tbody>
        <th>First Name </th>
        <th> Last Name </th>
        <th> Phone no</th>
        <th> Address </th>
        <th> Website </th>
        <th> Notes </th>
        <th> Birthday </th>
        <th> Relationship </th>
    </tbody>
    {% for person in persons %}
    <tr>
        <td> {{ person.first_name }} </td>
        <td> {{ person.last_name }} </td>
        <td> {{ person.phone_no }} </td>
        <td> {{ person.address }} </td>
        <td> {{ person.extradetail.website }} </td>
        <td> {{ person.extradetail.notes }} </td>
        <td> {{ person.extradetail.birthday }} </td>
        <td> {{ person.extradetail.relationship }} </td>
    </tr>
    {% endfor %}
{% endblock content %}
